.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    z-index: 1;
}

.container .projectTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.container .project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 250px;
    margin: 30px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.container .card img {
    height: 100%;
}

.container .content {
    padding: 20px;
    width: 50%;
}


.container .content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 7px;
    color: var(--whiteColor);
    z-index: 1;
}

.container .content p {
    font-size: 0.9rem;
    color: var(--grayColor);
    font-weight: 300;
}

.container .content .seeLiveBtn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: var(--grayColor);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.container .content .seeLiveBtn:hover {
    background: var(--whiteColor);
}

.container .content .sourceCodeBtn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    color: var(--grayColor);
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.container .content .sourceCodeBtn:hover {
    color: var(--whiteColor);
}