@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bgColor: #0b1131;
    --whiteColor: #fff;
    --grayColor: #bbb;
    --blueColor: #689af8;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: var(--bgColor);
    position: relative;
    color: var(--whiteColor);
}

.container {
    width: 100%;
    max-width: 1024px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.btn-link {
    color: var(--whiteColor);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 0.8rem;
    border-bottom: 1px solid #689af8;
    padding: 10px 10px 10px 0;
    transition: 0.3s;
    cursor: pointer;
}

.btn-link:hover {
    padding: 10px;
    background: rgba(104, 154, 248, 0.102);
}